body {
  margin: 0;
  font-family: 'Effra', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(180deg, rgb(238, 244, 248) 0%, rgb(180, 229, 253) 100%);
  min-height: 100vh;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
